ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkblue;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: lightcoral;
}

body{
    background: url("delivr.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    
}
.myDiv{
    padding: 20px;
    width: 80%;
    /*text-align: center;*/
    border: 1px solid black;
    background-color: white;
    margin: 0 auto;
}

input[type=text],input[type=password],input[type=email]
{
    background: transparent;
    border: none;
    border-bottom: 1px dashed #83A4C5;
    width: 80%;
    height:65px;
    outline: none;
    padding: 0px 0px 0px 0px;
    font-style: italic;
    font-size: 18pt;
}

button{ 
    display: inline-block;      
    width: 150px; 
    padding: 20px; 
    text-align: center; 
    background: whiteSmoke;
    font-weight: bold;
    color: #444;
    text-decoration: none;
    border: 1px solid #888;
}

@keyframes pulse_animation {
    0% { transform: scale(1); }
    30% { transform: scale(1); }
    40% { transform: scale(1.08); }
    50% { transform: scale(1); }
    60% { transform: scale(1); }
    70% { transform: scale(1.05); }
    80% { transform: scale(1); }
    100% { transform: scale(1); }
}

.pulse:hover, .pulse:focus {
    animation-name: pulse_animation;
    animation-duration: 500ms;
    transform-origin:70% 70%;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}


  
  .option-input {
    
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 13.33333px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 40px;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
  }
  .option-input:hover {
    background: #9faab7;
  }
  .option-input:checked {
    background: #049325;
  }
  .option-input:checked::before {
    height: 40px;
    width: 40px;
    position: absolute;
    content: '✔';
    display: inline-block;
    font-size: 26.66667px;
    text-align: center;
    line-height: 40px;
  }